*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #10131c;
}
.navigation{
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    transition-delay: 0.8s;
    position: absolute;
    left: 20px;
    bottom: 20px;
    background: rgba( 255, 255, 255, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.navigation.active{
    width: 200px;
    height: 200px;
    transition-delay: 0s;
}
.navigation a span{
    position: absolute;
    width: 7px;
    height: 7px;
    background: #333849;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(calc(12px * var(--x)),calc(12px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
}
.navigation.active a span{
    width: 45px;
    height: 45px;
    background: #333849;
    transform: translate(calc(60px * var(--x)),calc(60px * var(--y)));
}
.navigation a span ion-icon{
    transition: 0.5s;
    font-size: 0em;
}
.navigation.active a span ion-icon{
    font-size: 1.35em;
    color: #fff;
}
.navigation.active a span:hover ion-icon{
    color: #dd7732;
    filter: drop-shadow(0 0 2px #dd7732) drop-shadow(0 0 5px #dd7732) drop-shadow(0 0 15px #dd7732);
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar{
    width: 0;
}
#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation: animate 5s linear infinite;
    border-radius: 0 10px 10px 0;
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressbar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
}